@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

body {
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #02033f, #4d042e);
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h5 {
     color: #fff;
     font-family: 'Nunito', sans-serif;
}

#controls {
    margin: 20px 0 20px 0;
}

#simon-board {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    
    text-align: center;
    margin-bottom: 1rem;
}

#score-board {
    padding-top: 5px;
    color: #fff;
    border-color: #0781e6;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    
    text-align: center;
    margin-bottom: 1rem;
}

.simon-btn {
    width: 100px;
    height: 100px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    background-color: #3498db;
    color: #fff;
    transition: background-color 0.3s;
}

.top-left {
    
    background-color: darkgreen;
}

.top-right {
    background-color: darkred;
}

.bottom-left {
    background-color: goldenrod;
}

.bottom-right {
    background-color: darkblue;
}

.level-count {
    padding: 0.25rem 1rem;
}

#reset-btn,
#power-btn {
    font-family: 'Balsamiq Sans', sans-serif;
    margin-top: 5px;
    text-align: center;
    position: relative;
    cursor: pointer;
    color: #fff;
    outline: none;
    border-radius: 5px;
    
    border: none;
    border-radius: 30px;
    padding: 12px 32px;
    font-size: 1.1rem;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
   
    transition: all 0.2s ease;
}

#power-btn {
    background-color: #88E0A8;
}

#reset-btn {
    background-color: #fd2033;
}

#start-btn:hover,
#power-btn:hover {
    background-color: #27ae60;
}


#start-btn:disabled,
#power-btn:disabled {
    background-color: #484a4b;
    cursor: not-allowed;
}


#overlay2 {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(5, 5, 5, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#overlaytext{
    font-family: "Lucida Console", "Courier New", monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}